SQLAlchemy==2.0.37
asyncpg==0.30.0
alembic==1.14.1
pydantic_settings==2.9.1
pytest==8.3.5
pytest-asyncio==0.26.0
uvloop==0.21.0
aiocache==0.12.3
aiogram==3.17.0
arq==0.26.3
pytest-mock==3.14.1
limits==5.2.0
aiogram==3.17.0
coredis==4.22.0
arate-limit==1.1.6
aiolimiter==1.2.1
cachetools==5.5.2